.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #4682B4;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 450px;
  border-radius: 16px !important;
  padding: 1rem;

  mat-card-header {
    justify-content: center;
    margin-bottom: 1rem;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

button[mat-raised-button] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;  // ← ensure full width
  margin: 0 auto; // ← center horizontally

  mat-progress-spinner {
    display: inline-flex;
  }
}

.btn-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
