services:
  user-service:
    build:
      context: .
      dockerfile: Dockerfile
    develop:
      watch:
        - action: rebuild
          path: .
          ignore:
            - bin/
            - obj/
    container_name: erp-user
    ports:
      - "5002:8080"
    env_file:
      - .env
    depends_on:
      sqlserver:
        condition: service_healthy
    networks:
      - erp-network

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: erp-user-sqlserver
    environment:
      SA_PASSWORD: ${SQLSERVER__SA_PASSWORD}
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Express"
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P $$SA_PASSWORD -Q 'SELECT 1' -No"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks:
      - erp-network

networks:
  erp-network:
    driver: bridge