<div class="login-container">
  <mat-card class="login-card">

    <mat-card-header>
      <mat-card-title>Créer un compte</mat-card-title>
      <mat-card-subtitle>Remplissez les informations ci-dessous</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">

        <!-- Email -->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput
                 type="email"
                 name="email"
                 [(ngModel)]="credentials.email"
                 required
                 email
                 #emailInput="ngModel"/>
          <mat-icon matPrefix>email</mat-icon>
          <mat-error *ngIf="emailInput.errors?.['required']">Email requis</mat-error>
          <mat-error *ngIf="emailInput.errors?.['email']">Email invalide</mat-error>
        </mat-form-field>

        <div class="password-group">
          <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>

            <input matInput
                  [type]="showPassword ? 'text' : 'password'"
                  name="password"
                  [(ngModel)]="credentials.password"
                  required
                  minlength="8"
                  #passwordInput="ngModel"/>

            <mat-icon matPrefix>lock</mat-icon>

            <button mat-icon-button
                    matSuffix
                    type="button"
                    (click)="togglePasswordVisibility()">
              <mat-icon>
                {{ showPassword ? 'visibility' : 'visibility_off' }}
              </mat-icon>
            </button>

            <mat-error *ngIf="passwordInput.errors?.['required']">
              Mot de passe requis
            </mat-error>

            <mat-error *ngIf="passwordInput.errors?.['minlength']">
              Minimum 8 caractères
            </mat-error>

          </mat-form-field>

          <button mat-stroked-button
                  type="button"
                  (click)="generatePassword()">
            <mat-icon>auto_fix_high</mat-icon>
            Générer un mot de passe
          </button>
        </div>


        <!-- Role -->
        <mat-form-field appearance="outline">
          <mat-label>Rôle</mat-label>
          <mat-select name="role"
                      [(ngModel)]="credentials.role"
                      required
                      #roleInput="ngModel">
            @for (role of roles; track role.value) {
              <mat-option [value]="role.value">{{ role.label }}</mat-option>
            }
          </mat-select>
          <mat-icon matPrefix>badge</mat-icon>
          <mat-error *ngIf="roleInput.errors?.['required']">Rôle requis</mat-error>
        </mat-form-field>

        <!-- Error message -->
        <div *ngIf="errorMessage" class="error-alert">
          @for (error of errorMessage.split('\n'); track error) {
            <p>{{ error }}</p>
          }
        </div>

        <!-- Success message -->
        <div *ngIf="successMessage" class="success-alert">
          {{ successMessage }}
        </div>

        <!-- Submit -->
        <button mat-raised-button
                color="primary"
                type="submit"
                class="w-100 mt-2"
                [disabled]="!registerForm.valid || isLoading">
            @if(isLoading) {
              <div class="btn-loading">
                <mat-progress-spinner
                  diameter="20"
                  mode="indeterminate"
                  color="accent">
                </mat-progress-spinner>
                Création de compte...
              </div>
            } @else {
              Créer un compte
            }
        </button>

      </form>
    </mat-card-content>

  </mat-card>
</div>
