# I'M NOT GONNA TELL YOU HOW TO DEAL WITH A .env.example FILE

# ── MongoDB (AuthService)
MONGO__CONNECTIONSTRING=mongodb://user:password@mongo:27017
MONGO__DATABASENAME=ERPAuthDb

# SQL Server config

# Docker Mode
ERPUsersDb__SA_PASSWORD__DOCKER=secret
CONNECTIONSTRING__DEFAULTCONNECTION=Server=sqlserver;Database=ERPUsersDb;User Id=sa;Password=secret;TrustServerCertificate=True;

Kafka__BootstrapServers=kafka:9092

# ── ASP.NET
ASPNETCORE_ENVIRONMENT=Docker

# ── JWT (shared between Gateway and AuthService)
JWT__SECRET=your_jwt_secret_key_here
JWT__ISSUER=ERP.AuthService
JWT__AUDIENCE=ERP.Client

# ── ASP.NET
ASPNETCORE_ENVIRONMENT=Docker
