<div class="password-group">
          <mat-form-field appearance="outline">
            <mat-label>Current Password</mat-label>

            <input matInput
                  [type]="showCurrentPassword ? 'text' : 'password'"
                  name="password"
                  [(ngModel)]="credentials.currentPassword"
                  required
                  minlength="8"
                  #CurrentPasswordInput="ngModel"/>

            <mat-icon matPrefix>lock</mat-icon>

            <button mat-icon-button
                    matSuffix
                    type="button"
                    (click)="togglePasswordVisibility('new')">
              <mat-icon>
                {{ showCurrentPassword ? 'visibility' : 'visibility_off' }}
              </mat-icon>
            </button>

            <mat-error *ngIf="CurrentPasswordInput.errors?.['required']">
              Mot de passe requis
            </mat-error>

            <mat-error *ngIf="CurrentPasswordInput.errors?.['minlength']">
              Minimum 8 caractères
            </mat-error>

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput
                  [type]="showNewPassword ? 'text' : 'password'"
                  name="password"
                  [(ngModel)]="credentials.newPassword"
                  required
                  minlength="8"
                  [notSameAs]="credentials.currentPassword"
                  #NewPasswordInput="ngModel"/>

            <mat-icon matPrefix>lock</mat-icon>

            <button mat-icon-button
                    matSuffix
                    type="button"
                    (click)="togglePasswordVisibility('current')">
              <mat-icon>
                {{ showNewPassword ? 'visibility' : 'visibility_off' }}
              </mat-icon>
            </button>

            <mat-error *ngIf="NewPasswordInput.errors?.['required']">
              Mot de passe requis
            </mat-error>

            <mat-error *ngIf="NewPasswordInput.errors?.['minlength']">
              Minimum 8 caractères
            </mat-error>

            <mat-error *ngIf="NewPasswordInput.errors?.['sameAsOld']">
              New password must be different from current password.
            </mat-error>

          </mat-form-field>

          <button mat-stroked-button
                  type="button"
                  >
            <mat-icon>auto_fix_high</mat-icon>
            Générer un mot de passe
          </button>
        </div>
